/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  z-index: 1;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}

p {
  margin: 0;
}

.nav-item {
  font-weight: bold;
}
.nav-item:hover {
  opacity: 0.3;
}

.header-area {
  padding: 20px 40px;
  &__logo {
  }
  &__nav {
    #nav-open {
      text-align: right;
      i {
        font-size: 40px;
      }
      p {
        font-size: 15px;
        position: relative;
        left: 12px;
        bottom: 5px;
      }
    }
    #nav-close {
      text-align: right;
      i {
        font-size: 40px;
        position: relative;
        right: 20px;
        top: 10px;
      }
    }
  }
}

// ヘッダーナビ
.nav-close {
  width: 40%;
  background: silver;
  height: 600px;
  position: absolute;
  right: 100;
  top: 0;
  right: -700px;
  transition-duration: 0.8s
}

.nav-active {
  width: 40%;
  background: silver;
  height: 600px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  transition-duration: 0.8s
}

@media screen and (max-width:425px) {
  .header-area {
    padding: 10px 20px;
  }
  .nav-container {
    width: 70%;
  }
}
