// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  .profile {
    margin-top: 20px;
    &__icon {
      text-align: center;
    }

    &__name {
      text-align: center;
      font-size: 20px;
    }

    &__list {
      background: gray;

      ul {
        padding: 5px 0;
        display: flex;
        li {
          width: 33%;
          text-align: center;
        }
      }
    }

    &__introduction {
      text-align: center;
      p {
        padding: 5px;
      }
    }
  }

  .tab-area {
    display: flex;
    justify-content: space-around;
    background-color: #222e3e;
    cursor: pointer;
    .tab {
      width: 300px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: white;
      border-right: 1px solid #50637b;
      border-left: 1px solid #222e3e;
    }
    .tab.active {
      background-color: #ccc;
      color: #222e3e;
      border: none;
    }
  }
  .content-area {
    font-size: 30px;
    text-align: center;
    .content {
      display: none;
    }
    .content.show {
      margin-top: 50px;
      display: block;
    }
  }
}






@media screen and (max-width:425px) {
  .container {
    font-size: 10px;
    .profile {
      background: silver;
      &__icon {
        img {
          width: 30%;
          height: 30%;
        }
      }
      &__name {
        font-size: 20px;
      }
      &__introduction {
      p {

      }
    }
    }
  }
}